html {
  width: 100%;
height: 100%;
box-sizing: border-box
}
body {
  margin: 0%
}
.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.App-logo {
  width: auto;
  height: 100px
}

.App-header {
  background-color: #014495;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
.landing {
  transform:  scaleX(-1);
  filter: FlipH;
  width:100%;
  margin: 0%
}
.landing-pic {
  float: left;
  width: 100%;
  height: auto;
}
.product {
  width: 100%;
  height: auto;
}
.item-container {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%
}
.items {
  width: 49%;
  border: grey 1px solid
}
/* Item Scene */

.scene , canvas {
  width: 100%;
  height: 500px;
}


/* Media Queries */
@media screen and (max-width: 480px) {
  .App-logo {
    width: 100%;
    height: auto;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
